apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-deployment
  labels:
    app: hit-counter
    component: api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hit-counter
      component: api
  template:
    metadata:
      labels:
        app: hit-counter
        component: api
    spec:
      containers:
      - name: api-container
        image: ghcr.io/eyalvoulichman/study-02-api:latest
        imagePullPolicy: Always # Always pull the latest version from GHCR
        ports:
        - containerPort: 8000
        env:
        - name: REDIS_HOST
          value: "redis-service" # Connecting via service name
        - name: REDIS_PORT
          valueFrom:
            configMapKeyRef:
              name: api-config
              key: REDIS_PORT
        - name: REDIS_DB
          valueFrom:
            configMapKeyRef:
              name: api-config
              key: REDIS_DB
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 15
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
          requests:
            memory: "128Mi"
            cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: api-service
spec:
  selector:
    app: hit-counter
    component: api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
  type: NodePort # Using NodePort to access it easily from local machine

