apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
  labels:
    app: hit-counter
    component: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hit-counter
      component: redis
  template:
    metadata:
      labels:
        app: hit-counter
        component: redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379
        resources:
          limits:
            memory: "128Mi"
            cpu: "250m"
          requests:
            memory: "64Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
spec:
  selector:
    app: hit-counter
    component: redis
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
  type: ClusterIP

